/* width */
.w-100pct { width: 100%; }
.w-30pct { width: 30%; }
.w-65pct { width: 65%;}

/* height */
.max-hei_200px { max-height: 200px; }

/* margin */
.mar_top-10px { margin-top: 10px; }

/* display */
.d-flex { display: flex; }
.d-none { display: none; }

/* justify content */
.justify-content-space_between {
      justify-content: space-between;
} 

/* align-content */
.align-content_center {
      align-content: center;
}

/* border-radius */
.bo-ra_5px {
      border-radius: 5px;
}

/* font-weight  */
.fontw_bold {
      font-weight: bold;
}