/* width */
.w-100pct {
      width: 100%;
}

/* height */
.max-hei_200px {
      max-height: 200px;
}

/* margin */
.mar_top-10px {
      margin-top: 10px;
}
/* display */
.d-flex {
      display: flex;
}
.d-none {
      display: none;
}
