@import url('../../sections//tags/tags.section.css');

body {
      font-family: 'Lexend', sans-serif;
      background-color: #081028;
      color: white;
}

:root {
      --primary-color: #0969da;
      --primary-color_hover: #0864d1;
      --secondary-color: #f6f8fa;
      --secondary-color_hover: #eff2f5;
      --hot-pink: #FF69B4;
      /* yellow */
      --yellow: #FFFF00;
      --bright-yellow: #FFEA00;
      --gold: #FFD700;
}

.container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
}

.row {
      display: flex;
      justify-content: space-between;
}

#sidebar {
      width: 250px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden;
}

#videos-tag {
      flex: 1;
      padding: 20px;
}

/* header */
.top-bar {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 56px;
}
    
.search-form {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
}
    
.search-group {
      position: relative;
      width: 550px;
}

.search-input {
      width: 100%;
      padding: 8px 16px;
      border-radius: 24px;
      border: 1px solid transparent;
      font-family: 'Lexend';
      font-size: 15px;
}
.search-input:focus-visible {
      outline: none !important;
}
    
.btn-advanced-search {
      position: absolute;
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
}
.btn-advanced-search i {
      font-size: 15px;
}
.btn-advanced-search:hover i {
      color: var(--hot-pink);
}
.btn-advanced-search i:hover + .search-tooltip {
      visibility: visible;
      opacity: 1;
    }

.search-tooltip {
      visibility: hidden;
      position: absolute;
      bottom: 100%;
      left: 320%;
      transform: translateX(-50%) translateY(10px); /* Di chuyển tooltip lên và căn giữa icon */
      background-color: var(--gold);
      color: #000;
      text-align: center;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      font-family:'Lexend', 'Courier New', Courier, monospace;
      white-space: nowrap;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.3s;
}
/* ================================================================ */

/* Sidebar */
.sidebar {
      width: 10%;
}
.sidebar ul {
      list-style-type: none;
      padding: 0;
}
.sidebar ul li {
      border-radius: 10px;
}
.sidebar ul li a {
      text-decoration: none;
      color: #fff; 
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 15px 20px;
} 
.sidebar ul li a i {
      margin-right: 20px; 
}
.sidebar ul li:hover {
      background-color: #202a46;
}
.sidebar .active {
      font-weight: bold;
      background-color: #202a46;
}
.sidebar-separator {
      border-color: #454a57;
      width: 99%;
}
/* ================================================================ */

/* Main content */
#main-content {
      width: 90%;
}
#main-content .wrapper {
      padding: 0px 30px;
}
/* ================================================================ */