#admin-shorts .body-wrapper {
      margin-top: 20px;
      display: flex;
}
#admin-shorts .left-column {
      width: 30%;
      margin-right: 20px;
}
#admin-shorts #short-img {
      width: 50%;
      cursor: pointer;
}
#admin-shorts .short-frame {
      height: 50%;
      width: auto;
      border-radius: 5px;
}
#admin-shorts #upload-shorts-btn {
      width: fit-content;
}
#admin-shorts #uploaded-shorts {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
#admin-shorts .short-frame {
      width: calc((100% - 40px) / 4);
      border-radius: 10px;
} 