#film-form .modal-left {
      width: 45%;
      margin-right: 10px;
}
#film-form .modal-right {
      width: 50%;
}
#code-number {
      width: 80%;
      margin-left: 10px;
}
#film-rating {
      width: 40%;
      margin-left: 10px;
}
