#film-form .modal-left {
      width: 45%;
      margin-right: 10px;
}
#film-form .modal-right {
      width: 50%;
}
#code-number {
      width: 80%;
      margin-left: 10px;
}
#film-rating {
      width: 40%;
      margin-left: 10px;
}
#film-studio {
      margin: 10px 0;
}
#film-studio .row {
      align-items: center;
}
#thumbnail-image {
      width: 95%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
}
#thumbnail-image:hover {
      cursor: pointer;
}
.save-button {
      padding-top: 10px;
}
.btn-create {
      border: none;
}