      <div class="page-container">
            <div id="studio-infor_page">
                  <div class="studio-infor_page-container">
                        <div class="first-row">
                              <div id="studio-name"></div>
                        </div>
                        <div class="second-row">
                              <div class="left-column">
                                    <div id="studio-codes">
                                          <div class="studio-codes_container">
                                          </div>
                                    </div>
                              </div>
                              <div class="right-column">
                                    <div id="studio-films">
                                          <div class="studio-films_container">
                                                
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>    
      </div>