<div class="page-container">
      <div id="studio-infor_page">
            <div class="first-row">
                  <div id="studio-name"></div>
            </div>
            <div class="second-row">
                  <div class="creator-videos_column">
                        <div class="wrapper">
                              <div id="creator-videos_section">
                                    <div class="creator-videos_section-wrapper"></div>
                              </div>
                        </div>
                  </div>
                  <div class="creator-films_column">
                        <div class="wrapper">
                              <div id="creator-films_section">
                                    <div class="creator-films_section-wrapper"></div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>    
</div>