<div class="page-container">
      <div id="creator-infor_page">
            <div class="first-row">
                  <div class="left-column">
                        <div class="creator-avatar_wrapper">
                              <div id="creator-avatar">

                              </div>
                        </div>
                  </div>
                  <div class="center-column">
                        <div class="creator-info_wrapper">
                              <div id="creatpr-name"></div>
                              <div id="creator-info"></div>
                        </div>
                  </div>
                  <div class="right-column">
                        <div class="creator-tags_wrapper">
                              <div id="creator-tags"></div>
                        </div>
                  </div>
            </div>
            <div class="second-row">
                  <div class="creator-videos_column">
                        <div class="wrapper">
                              <div id="creator-videos_section"></div>
                        </div>
                  </div>
                  <div class="creator-films_column">
                        <div class="wrapper">
                              <div id="creator-films_section"></div>
                        </div>
                  </div>
            </div>
      </div>    
</div>