<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
        <!-- CSS -->
                <!-- Admin -->
                <link rel="stylesheet" href="static\css\style.css">
                <link rel="stylesheet" href="static\css\sidebar.css">
                <link rel="stylesheet" href="static\css\actress.css">
                <link rel="stylesheet" href="static\css\studio.css">
                <link rel="stylesheet" href="static\css\tags.css">
                <link rel="stylesheet" href="static\css\film.css">
                <link rel="stylesheet" href="static\css\story.css">
        <!-- CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <title></title>
</head>
