<div class="page-container">
      <div id="creator-infor_page">
            <div class="first-row">
                  <div class="left-column">
                        <div class="creator-avatar_wrapper">
                              <div id="creator-avatar"></div>
                        </div>
                  </div>
                  <div class="center-column">
                        <div class="creator-info_wrapper">
                              <div id="creator-name"></div>
                              <div id="creator-birth"></div>
                              <div id="creator_years-old"></div>
                        </div>
                  </div>
                  <div class="right-column">
                        <div class="creator-tags_wrapper">
                              <div id="creator-tags"></div>
                        </div>
                  </div>
            </div>
            <div class="tab-row">
                  <div class="tab-row_container">
                        <div class="tab-content">
                              <nav class="tab-navigation">
                                    <ul>
                                          <li>
                                                <a href="#creator-videos-list" class="tab-item active">Videos</a>
                                          </li>
                                          <li>
                                                <a href="#creator-films-list" class="tab-item">Films</a>
                                          </li>
                                          <li>
                                                <a href="#creator-photos-list" class="tab-item">Photos</a>
                                          </li>
                                    </ul>
                              </nav>
                        </div>
                  </div>
            </div>
            <div class="third-row">
                  <div class="creator-videos_column">
                        <div class="wrapper">
                              <div id="creator-videos_section"></div>
                        </div>
                  </div>
                  <div class="creator-films_column">
                        <div class="wrapper">
                              <div id="creator-films_section"></div>
                        </div>
                  </div>
            </div>
      </div>    
</div>