#admin-image .admin-image_wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
}
#admin-image .left-column {
      width: 20%;
}
#admin-image .right-column {
      width: 78%;
}
#admin-image #image-img {
      width: 50%;
      height: 50%;
      border-radius: 10px;
      cursor: pointer;
}
#admin-image #upload-images_btn {
      width: fit-content;
}
#admin-image #uploaded-images {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
#admin-image .image-frame {
      width: calc((100% - 40px) / 4);
}
#admin-image .image-frame img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 10px;
}