#admin-record .body {
      display: block;
}
#admin-record .row {
      display: flex;
      justify-content: space-between;
}
#admin-record .column {
      width: 49%;
}
#admin-record .navigation-item {
      background-color: var(--light-btn);
      border: 1px solid var(--light-btn_hover);
      padding: 10px;
      border-radius: 5px;
      margin-right: 15px;
      user-select: none;
      color: black;
}
#admin-record .navigation-item:hover {
      background-color: var(--light-btn_hover);
      cursor: pointer;
}
#admin-record .record-section {
      border: 1px solid var(--secondary-border);
      border-radius: 5px;
      padding: 20px;
      display: flex;
}
#admin-record #record-section {
      margin-top: 30px;
}
#admin-record .record-section_content {
      margin-top: 20px;
      border: 1px solid var(--secondary-border);
      border-radius: 5px;
      padding: 20px;
      display: flex;
}

/* record-infor */
#admin-record .section-content_wrapper {
      width: 100%;
      display: flex;
}
#admin-record #record-infor_form {
      width: 30%;
}
#admin-record #records-table {
      width: 30%;
      margin-left: 10px;
      height: fit-content;
}
#admin-record .button {
      margin-top: 20px;
}
#admin-record #admin-record-clips .left-column {
      width: 30%;
      margin-right: 30px;
}
#admin-record .right-column img {
      height: 357px;
}
#admin-record .clip-frame {
      width: 700px;
      border-radius: 10px;
}