.btn {
      width: 100%;
      padding: 10px 10px; 
      color: white; 
      border-radius: 5px; 
      text-align: center; 
      cursor: pointer; 
      transition: background 0.8s, filter 0.8s;
      font-family: 'Lexend';
      font-weight: bold;
      border: none;
}
.btn-create {
      background-color: var(--primary-btn); 
}
.btn-create:hover {
      background-color: var(--primary-btn_hover);
}
.btn-edit {
      color: black;
      background-color: var(--light-btn);
      border: 1px solid var(--light-btn_hover);
}
.btn-edit:hover {
      background-color: var(--light-btn_hover);
}
.btn-delete {
      background-color: var(--danger-btn);
}
.btn-delete:hover {
      background-color: var(--danger-btn_hover);
}
.btn-update {
      background-color: var(--update-btn);
}
.btn-update:hover {
      background-color: var(--update-btn_hover);
}
.btn-search {
      background-color: var(--search-btn);
}
.btn-search:hover {
      background-color: var(--search-btn_hover);
}
.btn-close {
      background-color: var(--danger-btn);
      width: 50px;
      color: white;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
}
.btn-close:hover {
      background-color: var(--danger-btn_hover);
}

