#films-table {
        width: 100%;
}
#films-table table {
        width: 100%;
        background-color: white;
        border-radius: 8px;
        table-layout: fixed; /* Cố định chiều rộng cột */
}
#films-table table thead tr th {
        border-bottom: 3px solid #435d7d;
        overflow: hidden;
        text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
        white-space: nowrap;
}
#films-table table tr th {
        padding: 12px 15px;
        color: #435d7d;
        font-size: 20px;
}
#films-table tr {
        height: 50px;
}
#films-table table tr td {
        padding: 10px 15px;
        font-size: 20px;
}
#films-table table tbody tr td {
        border-bottom: 1px solid #bdbaba;
}
#films-table table tbody tr:nth-last-child(1) td {
        border-bottom: 0px;
}
#films-table table tbody tr:nth-last-child(1) td:hover {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
}
#films-table table tbody tr:hover {
        background-color: rgb(229, 235, 236);
}
#films-table .code {
        width: 10%;
}
#films-table .thumbnail {
        width: 10%;
}
#films-table .actress {
        width: 10%;
}
#films-table .studio {
        width: 10%;
}
#films-table .story {
        width: 20%;
}
#films-table .releaseDate {
        width: 20%;
}
#films-table .tags {
        width: 10%;
}
#films-table .btn-edit {
        background-color: var(--blue-background);
        border-radius: 8px;
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.8s, filter 0.8s;
}
#films-table .btn-edit:hover {
        filter: brightness(2);
}
#films-table .btn-delete {
        background-color: var(--red-background);
        border-radius: 8px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.8s, filter 0.8s;
}
#films-table .btn-delete:hover {
        filter: brightness(2);
}
#films-table .thumbnail-image {
        height: 50px;
        width: 35px;
        border-radius: 5px;
        cursor: pointer;
}
#films-table .thumbnail-image:hover {
        box-shadow: rgba(5, 180, 255, 0.952) 0px 2px 4px 0px, rgba(5, 180, 255, 0.952) 0px 2px 16px 0px;
        transition: box-shadow 0.3s ease; /* Hiệu ứng mượt */
}

    
#films-table .actress-profile {
        height: 50px;
        width: 50px;
        border-radius: 5px;
}
#films-table .studio-logo {
        height: 50px;
        width: 100px;
        border-radius: 5px;
}
.create-film {
        display: flex;
        justify-content: center;
}
#films-table .btn-create {
        width: 60px;
        font-size: 15px;
}
#films-table td {
        overflow: hidden;
        text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
        white-space: nowrap;
}
#films-table td p {
        overflow: hidden; /* Ẩn nội dung vượt quá */
        text-overflow: ellipsis; /* Hiển thị dấu "..." nếu quá dài */
        white-space: nowrap; /* Không cho xuống dòng */
        width: 100%; /* Fit theo độ rộng của cột */
        cursor: pointer; /* Thay đổi con trỏ khi hover */
}
/* =============== */
#create-film {
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        width: 60%;
}
#create-film .col-form {
        width: 50%;
}
#create-film .col-thumbnail {
        width: 45%;
}
#create-film #film-studio {
        width: 45%;
}
#create-film #film-code {
        width: 50%;
}
#create-film #code-number {
        width: 100%;
        margin-left: 10px;
}
#create-film input, #create-film select {
        display: block;
        background-color: #f7f6f6;
        margin: 10px 0px;
        padding: 10px 18px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'Lexend';
        border-radius: 5px;
        border: none;
        cursor: pointer;
}
#create-film #release_date  {
        width: 45%;
}
#create-film #film-actress {
        width: 50%;
}
#create-film #film-tag {
        width: 45%;
}
#create-film #film-story {
        width: 50%;
}
#film-display {
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        width: 29%;
}
.tags-box {
        display: inline-block;
        background-color: var(--white-background);
        color: #333;
        border-radius: 4px;
        font-size: 14px;
        user-select: none;
        min-width: 100%;
        height: 200px;
}
#tags-selected {
        padding: 10px;
        width: 100%;
        height: 100%;
}
.tag-item {
        display: inline-block;
        background-color: var(--cadmium-yellow);
        color: black;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        transition: background 0.8s, filter 0.8s;
}
.tag-item:hover {
        background-color: #D22B2B;
        filter: brightness(1.5);
}
.btn-story {
        width: 50%;
        margin: 10px 0px;
}
.btn-story .button {
        width: 100%;
        height: 100%;
        background-color: var(--persimmon);
        border: none;
        border-radius: 8px;
        font-size: 15px;
        text-align: center;
        align-content: center;
        font-family: 'Lexend';
        color: white;
        cursor: pointer;
        transition: background 0.8s, filter 0.8s;
}
.btn-story .button:hover {
        filter: brightness(1.5);
}
#video-tag {
        height: 100%;
}
#create-film .btn-submit {
        padding-top: 15px;
}
#create-film .btn-submit button {
        padding: 12px 25px;
        background-color: var(--blue-background);
        color: white;
        font-size: 20px;
        font-family: 'Lexend';
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.8s, filter 0.8s;
        width: 100%;
        height: 50px;
}
#create-film .btn-submit button:hover {
        filter: brightness(1.5);
}
#video-list {
        max-height: 300px; /* Bạn có thể điều chỉnh cho phù hợp */
        overflow-y: auto;
        padding-right: 10px;
        border-radius: 5px; 
}
#video-list .video-box {
        padding-bottom: 10px;
}
#thumbnail-upload {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
}
#thumbnail-upload img.thumbnail-item {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ảnh sẽ khớp toàn bộ khu vực */
        position: absolute; /* Đảm bảo ảnh được căn giữa */
        top: 0;
        left: 0;
}
.video-box {
        position: relative; /* Để định vị nút Delete bên trong video */
        display: inline-block;
        width: 100%; /* Thêm khoảng cách giữa các video */
}
.delete-video_btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: var(--red-background);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: background 0.8s, filter 0.8s;
        font-size: 15px;
        font-family: "Lexend";
}
.delete-video_btn:hover {
        filter: brightness(1.5);
}
.tag-video {
        position: absolute;
        top: 10px;
        left: 8px;
        display: inline-block;
        background-color: var(--cadmium-yellow);
        color: black;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        user-select: none;
        transition: background 0.8s, filter 0.8s;
}
.tag-video:hover {
        filter: brightness(1.5);
}
.edit-btn {
        background-color: var(--persimmon) !important;
}
.enlarged-thumbnail {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
}
.enlarged-thumbnail:hover {
        box-shadow: rgba(9, 52, 245, 0.952) 0px 5px 15px;
        transition: box-shadow 0.3s ease; /* Hiệu ứng mượt */
}

