#anime-videos {
      padding-top: 20px;
}
#anime-videos .anime-wrapper {
      display: block;
}
#anime-videos #create-video_btn {
      margin-top: 0px;
}
#create-anime-video {
      padding-top: 20px;
}
#anime-videos .film-thumbnail {
      width: 240px;
      height: 340px;
}
#anime-videos .col-video {
      margin-left: 50px;
      width: 100%;
}
#search-anime_film {
      width: 70%; 
}
