<div class="page-container">
      <div id="play-video_page" class="column">
            <div class="left-column">
                  <div class="left_col-wrapper">
                        <div class="play_video-wrapper">
                              <video id="video-player" width="925px" height="520px" controls>
                                    <source src="" type="video/mp4">
                              </video>
                              <div id="video-info">
                                    <div class="video-info_container">
                                          <div class="first-row">
                                                <span id="video-name"></span>
                                                <div id="video-action"></div>
                                          </div>
                                          <div class="second-row">
                                                <div class="video-creator">
                                                      <img id="creator-image">
                                                </div>
                                                <div class="video-views">
                                                      <i class="fa-solid fa-eye"></i>
                                                      <span class="total-views"></span>
                                                </div>
                                                <div class="video-playlist">
                                                      <i class="fa-solid fa-bookmark"></i>
                                                      <span class="save">Save</span>
                                                </div>
                                          </div>
                                          <div class="third-row">
                                                <div class="video-tags">
                                                      
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="right-column">
                  <div class="right_col-wrapper">
                        <div class="thumbnail_video-wrapper">
                              <img id="video_film-thumbnail" width="399px" height="599px" class="film-thumbnail">
                        </div>
                  </div>
            </div>
      </div>
</div>