<!-- Sidebar -->
<aside class="sidebar">
      <nav>
            <ul>
                  <li class="sidebar-item active">
                        <a href="#"><i class="fa-solid fa-house"></i> Home</a>
                  </li>
                  <hr class="sidebar-separator">
                  <li class="sidebar-item">
                        <a href="sections/films"><i class="fa-solid fa-clapperboard"></i> Films</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="#"><i class="fa-solid fa-masks-theater"></i> Animes</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="#"><i class="fa-solid fa-images"></i> Mangas</a>
                  </li>
                  <hr class="sidebar-separator">
                  <li class="sidebar-item">
                        <a href="sections/studios"><i class="fa-solid fa-video"></i> Studios</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/creators"><i class="fa-solid fa-user"></i> Creators</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/tags"><i class="fa-solid fa-tag"></i> Tags</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/collections"><i class="fa-solid fa-folder"></i> Collections</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/playlists"><i class="fa-solid fa-floppy-disk"></i> Playlists</a>
                  </li>
                  <hr class="sidebar-separator">
                  <li class="sidebar-item">
                        <a href="#"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="#"><i class="fa-solid fa-thumbs-up"></i> Liked</a>
                  </li>
            </ul>
      </nav>
</aside>

<!-- Main -->
<main id="main-content">
      <div class="wrapper">
            <div class="homepage-top">
                  <section id="tags-section" aria-labelledby="tags-section-title"></section>
            </div>
            <div class="homepage-bottom">
                  <section id="new-videos-section" aria-labelledby="video-sections-title"></section>
                  <section id="creators-section" aria-labelledby="creators-sections-title"></section>
            </div>
      </div>
</main>