<!-- Sidebar -->
<aside class="sidebar">
      <nav>
            <ul>
                  <li class="sidebar-item active">
                        <a href="#"><i class="fa-solid fa-house"></i> Homes</a>
                  </li>
                  <hr class="sidebar-separator">
                  <li class="sidebar-item">
                        <a href="sections/videos"><i class="fa-solid fa-circle-play"></i> Videos</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/films"><i class="fa-solid fa-clapperboard"></i> Films</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/homepage-animes"><i class="fa-solid fa-masks-theater"></i> Animes</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/homepage-mangas"><i class="fa-solid fa-images"></i> Mangas</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/homepage-images"><i class="fa-solid fa-image"></i> Images</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/homepage-shorts"><i class="fa-solid fa-tablet-screen-button"></i> Shorts</a>
                  </li>


                  <hr class="sidebar-separator">
                  <li class="sidebar-item">
                        <a href="sections/studios"><i class="fa-solid fa-video"></i> Studios</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/creators"><i class="fa-solid fa-user"></i> Creators</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/tags"><i class="fa-solid fa-tag"></i> Tags</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/homepage_collections"><i class="fa-solid fa-folder"></i> Collections</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="sections/homepage_playlists"><i class="fa-solid fa-floppy-disk"></i> Playlists</a>
                  </li>
                  <hr class="sidebar-separator">
                  <li class="sidebar-item">
                        <a href="#"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
                  </li>
                  <li class="sidebar-item">
                        <a href="#"><i class="fa-solid fa-thumbs-up"></i> Liked</a>
                  </li>
            </ul>
      </nav>
</aside>

<!-- Main -->
<main id="main-content">
      <div class="wrapper">
           <div id="homepage-feeds-loader" class="loader-container" style="display: none;">
                  <span>Đang tải thêm...</span> 
            </div>
      </div>
</main>