.homepage-bottom {
      display: flex;
}
#new-videos-section {
      width: 90%;
}
.section-content_container {
      margin-top: 20px;
}
.list-mangas_section-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.list-mangas_section-wrapper .manga-wrapper {
      width: calc((100% - 80px) / 8);
      border-radius: 10px;
}
.list-mangas_section-wrapper .manga-thumbnail {
      display: block;
      width: 100%;
      height: 100%;
}
.list-images_section-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.list-images_section-wrapper .image-wrapper {
      width: calc((100% - 60px) / 6);
      height: fit-content;
      border-radius: 10px;
}
.list-images_section-wrapper .image-element {
      display: block;
      width: 100%;
      height: 450px;
      object-fit: cover;
}
.list-shorts_section-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.list-shorts_section-wrapper .video-container {
      width: calc((100% - 60px) / 6);
}
.list-shorts_section-wrapper .short-frame {
      display: block;
      width: 100%;
      border-radius: 10px;
}
.list-creators_section-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.list-creators_section-wrapper .avatar-frame {
      width: calc((100% - 100px) / 10);
}
.list-creators_section-wrapper .avatar-frame_container {
      border-radius: 10px;
      width: 100%;
      height: 100%;
}
.list-creators_section-wrapper .creator-image {
      display: block;
      width: 100%;
      border-radius: 10px;
      height: 100%;
}
.list-idols_section-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.list-idols_section-wrapper .avatar-frame {
      width: calc((100% - 100px) / 10);
}
.list-idols_section-wrapper .avatar-frame_container {
      border-radius: 10px;
      width: 100%;
      height: 100%;
}
.list-idols_section-wrapper .idol-image {
      display: block;
      width: 100%;
      border-radius: 10px;
      height: 100%;
}
.list-clips-section_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.list-clips-section_wrapper .clip-article {
      width: calc((100% - 40px) / 4);
}
.list-clips-section_wrapper .clip-frame {
      display: block;
      width: 100%;
      border-radius: 10px;
      height: 100%;
}