#videos-pagination_section {
      display: flex;
      margin: 0px -8px;
      flex-wrap: wrap;
}
#videos-pagination_section .video-article {
      flex-basis: calc(100%/4);
      flex-grow: 0;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8px;
}
#videos-pagination_section .video-article:hover {
      cursor: pointer;
}
#videos-pagination_section .avatar-frame_container {
      border-radius: 50%;
      height: 50px;
      width: 50px;
}
#videos-pagination_section .creator-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
}
#videos-pagination_section .video-info-container {
      padding: 5px 5px;
      display: flex;
}
#videos-pagination_section .video-creator {
      width: fit-content;
}
#videos-pagination_section .video-details {
      width: 100%;
      margin-left: 10px;
      line-height: 1;
}
#videos-pagination_section .video-film {
      font-size: 15px;
      font-weight: bold;
}
#videos-pagination_section .video-film:hover {
      color: var(--light-pink);
}
#videos-pagination_section .video-creator {
      font-size: 13px;
      color: rgb(172, 172, 172);
}
#videos-pagination_section .video-creator:hover {
      color: white;
}
#videos-pagination_section .video-views {
      font-size: 13px;
}
#videos-pagination_section .video-frame:hover {
      cursor: pointer;
}